/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~react-bulma-components/dist/react-bulma-components.min.css';
@import '~bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.min.css';
@import '~bulma-extensions/bulma-slider/dist/css/bulma-slider.min.css';

@font-face {
  font-family: titleFont;
  src: url('assets/fonts/trench.ttf');
}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --black: #000;
  --black-light: hsl(0, 0%, 14%);
  --black-light-intermediate: hsl(0, 0%, 16%);
  --black-lighter: hsl(0, 0%, 18%);
  --black-lightest: hsl(0, 0%, 20%);
  --grey: hsl(0, 0%, 50%);
  --white: #fff;
  --white-dark: hsl(0, 0%, 98%);
  --white-dark-intermediate: hsl(0, 0%, 96%);
  --white-darker: hsl(0, 0%, 94%);
  --white-darkest: hsl(0, 0%, 92%);
}

[data-theme='dark'] {
  /* .container-after-titlebar */
  --container-after-titlebar-font-color: var(--white);
  --container-after-titlebar-bg-color: var(--black-light);

  /* .title */
  --title-color: var(--white);

  /* .label */
  --label-color: var(--white);

  /* .box */
  --box-bg-color: var(--black-light);

  /* .input */
  --input-color: var(--white);
  --input-bg-color: var(--black-lighter);
  --input-placeholder-color: hsl(0, 0%, 40%);

  /* .add-vault-button */
  --vault-button-bg-hover: var(--black-lighter);
  --vault-button-bg-active: var(--black-light);
  --vault-button-color: hsl(0, 0%, 48%);

  /* .grow-menu */
  --grow-menu-bg: var(--black-lighter);
  --grow-menu-list-item-bg-hover: var(--black-light-intermediate);

  /* .gutter-horizontal */
  --gutter-horizontal-bg: var(--black-lighter);

  /* .groups-list */
  --groups-list-bg-hover: var(--black-lighter);
  --groups-list-bg-focus: var(--black-lightest);
}

[data-theme='light'] {
  /* .container-after-titlebar */
  --container-after-titlebar-font-color: var(--black);
  --container-after-titlebar-bg-color: var(--white-dark);

  /* .box */
  --box-bg-color: var(--white-dark);

  /* .input */
  --input-placeholder-color: hsl(0, 0%, 80%);

  /* .add-vault-button */
  --vault-button-bg-hover: var(--white-darker);
  --vault-button-bg-active: var(--white-dark);
  --vault-button-color: hsl(0, 0%, 71%);

  /* .grow-menu */
  --grow-menu-bg: var(--white-darker);
  --grow-menu-list-item-bg-hover: var(--white-dark-intermediate);

  /* .gutter-horizontal */
  --gutter-horizontal-bg: var(--white-darker);

  /* .groups-list */
  --groups-list-bg-hover: var(--white-darker);
  --groups-list-bg-focus: var(--white-darkest);
}

html {
  overflow: hidden;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

*:focus {
  outline: none;
  border-color: none;
}

/* Text */
.title {
  color: var(--title-color);
}

/* Label */
.label {
  color: var(--label-color);
}

/* Box */
.box {
  background-color: var(--box-bg-color);
}

/* Input */
.input {
  color: var(--input-color);
  background-color: var(--input-bg-color);
}

.input::placeholder {
  color: var(--input-placeholder-color);
}

/* ================================= 
  custom-electron-titlebar
=================================== */

.container-after-titlebar {
  overflow: hidden;
  background-color: var(--container-after-titlebar-bg-color);
  color: var(--container-after-titlebar-font-color);
}

/* ================================= 
  Vault button 
=================================== */
.vault-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid;
  border-radius: 5px;
  cursor: pointer;
  color: var(--vault-button-color);
}

.vault-button:hover {
  background-color: var(--vault-button-bg-hover);
}

.vault-button:active {
  background-color: var(--vault-button-bg-active);
}

/* ================================= 
  Grow menu 
=================================== */

.grow-menu-list-item {
  cursor: pointer;
  padding: 5px 10px;
}

.grow-menu-list-item:hover {
  background-color: var(--grow-menu-list-item-bg-hover);
}
.grow-menu-list-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.grow-menu-list-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ================================= 
  Groups List
=================================== */
.groups-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 3px 10px;
  cursor: pointer;
}

.groups-list-item:hover {
  background-color: var(--groups-list-bg-hover);
}

.groups-list-item:active {
  background-color: var(--groups-list-bg-focus);
}

/* ================================= 
  Scrollbar
=================================== */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 149, 149);
}

/* ================================= 
  reactjs-popup
=================================== */
.popup-content {
  background-color: var(--grow-menu-bg) !important;
}

.popup-arrow {
  background-color: var(--grow-menu-bg) !important;
}

/* ================================= 
  react-split
=================================== */
.gutter.gutter-horizontal {
  background-color: var(--gutter-horizontal-bg);
  cursor: e-resize;
}
